<!--
<script type="text/javascript">
  var log = log4javascript.getDefaultLogger();
</script>
-->

<script type="text/javascript">

    $(function(){

    $("#incidenttypeselect").multiselect({ sortable: true, searchField: false });
  });

  </script>

  <script type="text/javascript">
$(function () {
      $('#startdateinput').fdatepicker(); 
      $('#enddateinput').fdatepicker(); 
    });
  </script>


<div id="content">
<div class="row"> <!-- outer row -->
<div class="large-8 columns">

  <div class="row">
    <div class="large-12 columns">
      <h1> Heatmap Generator - Dallas Law Enforcement Incidents</h1>
    </div>
  </div>

<%= simple_form_for :buildheatmap, { :url => buildheatmap_url } do |f| %>
  <div class="row">
    <div class="large-12 columns">
      <span data-tooltip class="has-tip" title="Enter title for your Heatmap (optional)">Title</span>
      <%= f.input :heatmap_title, :label => false,:required => false %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <span data-tooltip class="has-tip" title="Enter text search terms separated by commas. Terms can be any word(s) found in incident reports. Examples include: offense details, street name, etc.">Text Search</span>
      <%= f.input :text_search, :label => false, :required => false %>
    </div>
  </div>

    <div class="row">
    <div class="large-6 columns">
      <span data-tooltip class="has-tip" title="Select heatmap size appropriate for your display device">Heatmap size (width)</span>
      <%= f.input :chart_size, :collection => @map_sizes, :label => false, :selected => 500  %>
      <br>
    </div>
    <div class="large-6 columns"></div>    
  </div>

  <div class="row">
    <div class="large-6 columns">
    <span data-tooltip class="has-tip" title="Mouse-click or touch date below to show date chooser for Start Date">Start Date</span>
    <input type="text" data-date-format="mm/dd/yyyy" value="<%= 1.month.ago.strftime("%m/%d/%Y") %>" id="startdateinput" name="buildheatmap[start_date]" readonly>
    </div>
    <div class="large-6 columns">
    <span data-tooltip class="has-tip" title="Mouse-click or touch date below to show date chooser for End Date">End Date</span>
    <input type="text" data-date-format="mm/dd/yyyy" value="<%= 1.second.ago.strftime("%m/%d/%Y") %>" id="enddateinput" name="buildheatmap[end_date]" readonly>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
    <div class="panel">
Select the incident types in the list below to include in the heatmap. Incident types on the left side will be included in the heatmap, and those on the right side will be excluded. Clicking or touching a field will move the field from one column to the other. <br><br><b>Field ordering is not important for the heatmap.</b>
    </div>
    </div>
  </div>

  <div class="row">
  <br>
  <div class="small-9 small-non-centered large-9 large-centered columns">
  <%= f.select(:incident_types, @avl_calltypes,{},
                                     { :multiple => true, :size => 5, :class => "multiselect", :id => "incidenttypeselect" }
                                   ) %>
    </div>
  <div class="large-3 columns"></div>
  </div>
<div>
</div>
  </div> <!-- outer columns -->
  <div class="large-4 columns hide-for-small">
    <center><h4>&nbsp</h4></center>
    <%= image_tag "map1.png", :align => "center"  %>
    <hr>

    <%= image_tag "map2.png", :align => "center"  %>    
  </div>
  </div> <!-- Outer row -->


 <div class="row">
 <br>
 <br>
    <div class="small-10 small-centered large-10 large-centered columns">
      <br>
      <a data-reveal-id="disclaimerModal" href="#" class="radius button secondary">Disclaimer</a>      
      <a data-reveal-id="termsOfUseModal" href="#" class="radius button secondary">Terms Of Use</a>      
        <%= f.button :submit, "Build Heatmap", :class => "medium button success radius" %>        
    </div>
  </div>
  

<% end %>

</div>

