<!--<body> -->
<!-- This is what the heatmap binds to -->
<div id="heatmapArea">
</div>


<script type="text/javascript">
var map, layer, heatmap;

function init(){

  var locData={ <%= @coord_string %>};

    var transformedLocData = { max: locData.max , data: [] },
        data = locData.data,
        datalen = data.length,
        nudata = [];

    while(datalen--){
        nudata.push({
            lonlat: new OpenLayers.LonLat(data[datalen].lon, data[datalen].lat),
            count: data[datalen].count
        });
    }

    transformedLocData.data = nudata;

<% if !params.has_key?(:cloudmade) %>
  var map = new OpenLayers.Map({
      div: "heatmapArea",
      projection: "EPSG:900913"});

  var layer = new OpenLayers.Layer.XYZ(
              "OpenStreetMap", 
              [
                  "http://otile1.mqcdn.com/tiles/1.0.0/map/${z}/${x}/${y}.png",
                  "http://otile2.mqcdn.com/tiles/1.0.0/map/${z}/${x}/${y}.png",
                  "http://otile3.mqcdn.com/tiles/1.0.0/map/${z}/${x}/${y}.png",
                  "http://otile4.mqcdn.com/tiles/1.0.0/map/${z}/${x}/${y}.png"
              ],
              {
                attribution: "Data, imagery and map information provided by <a href='http://www.mapquest.com/'  target='_blank'>MapQuest</a>, <a href='http://www.openstreetmap.org/' target='_blank'>Open Street Map</a> and contributors, <a href='http://creativecommons.org/licenses/by-sa/2.0/' target='_blank'>CC-BY-SA</a>  <img src='http://developer.mapquest.com/content/osm/mq_logo.png' border='0'>",
                transitionEffect: "resize"
              });

<% else %>
   var map = new OpenLayers.Map('heatmapArea');
          
          var layer = new OpenLayers.Layer.CloudMade("CloudMade", {
              key: 'e2487379162844789183f6d6848a431f',
              styleId: '96931'
          });
<% end %>

   // layer = new OpenLayers.Layer.OSM(); // Can't use this straight up, they don't like you beating their server to death.

   // create our heatmap layer
   heatmap = new OpenLayers.Layer.Heatmap( "Heatmap Layer", map, layer, {visible: true, radius:10}, {isBaseLayer: false, opacity: 0.3, projection: new OpenLayers.Projection("EPSG:4326")});
   map.addLayers([layer, heatmap]);
   
   // set center point to dallas and decent zoom
   var proj = new OpenLayers.Projection("EPSG:4326");
   var point = new OpenLayers.LonLat( <%= @center_lon %> , <%= @center_lat %>);
   map.setCenter(point.transform(proj, map.getProjectionObject()), <%= @zoom_level %>);     
   heatmap.setDataSet(transformedLocData);
}

init(); 

</script>
