<!-- This is all rendered inside the body tag -->
<!--
<script type="text/javascript">
  var log = log4javascript.getDefaultLogger();
</script>
-->

    <style type="text/css">
      svg {
        font-size: 14px;
      }

      rect.background {
        fill: none;
        pointer-events: all;
      }

      .axis {
        shape-rendering: crispEdges;
      }

      .axis path, .axis line {
        fill: none;
        stroke: #000;
        stroke-width: .5px;
      }
    </style>
    <script type="text/javascript">
      var m = [80, 200, 0, 200], // top right bottom left
          w = <%=@chart_width%> - m[1] - m[3], // width
          h = <%=@chart_height%> - m[0] - m[2], // height
          x = d3.scale.linear().range([0, w]),
          y = 25, // bar height
          z = d3.scale.ordinal().range(["steelblue", "#aaa"]); // bar color
      var root = <%= @json_data %>
    </script>

    <%= javascript_include_tag "hierchbar.min" %>

