
<style>
  path {
    stroke: #fff;
    fill-rule: evenodd;
  }

  text {
    font-family: Arial, sans-serif;
    font-size: 12px;
  }

</style>

<script>
var width = <%=@chart_width%>,
    height = <%=@chart_height%>,
    radius = Math.min(width, height) / 2;
var jsonBlob = <%= @json_data %>

</script>
<%= javascript_include_tag "sunburst.min" %>
