
<style type="text/css">
  #dbfieldselect  {
  }

</style>

<script type="text/javascript">
$(function () {
      $('#startdateinput').fdatepicker(); 
      $('#enddateinput').fdatepicker(); 
    });
  </script>

<script type="text/javascript">
  $(function(){
    $("#dbfieldselect").multiselect({ sortable: true, searchField: false });
    $("#incidenttypeselect").multiselect({ sortable: true, searchField: false });
  });

  </script>

<div id="content">

<div class="row"> <!-- outer row -->
<div class="large-8 columns">

  <div class="row">
    <div class="large-12 columns">
      <h1> Chart Generator - Dallas Law Enforcement Incidents </h1>
    </div>
  </div>

<%= simple_form_for :buildchart, { :url => buildchart_url } do |f| %>
  <div class="row">
    <div class="large-12 columns">
    <span data-tooltip class="has-tip" title="Enter title for your Chart (optional)">Title</span>
      <%= f.input :chart_title, :label => false, :required => false %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <span data-tooltip class="has-tip" title="Enter text search terms separated by commas. Terms can be any word(s) found in incident reports. Examples include: offense details, street name, etc.">Text Search</span>
      <%= f.input :text_search, :label => false, :required => false %>
    </div>
  </div>

  <!-- How to autoselect -->
  <div class="row">
    <div class="large-6 columns">
    <span data-tooltip class="has-tip" title="Select chart type to produce">Chart Type</span>
      <%= f.input :chart_type, :label => false, :collection => @avl_charts, :selected => :sunburst %>
      <div class="show-for-small">
        <br> <!-- PDB NOTE - hide-for-large no work, but show for small did-->
      </div>

    </div>
    <div class="large-6 columns">
    <span data-tooltip class="has-tip" title="Select chart size appropriate for your display device">Chart Size (width)</span>
      <%= f.input :chart_size, :collection => @chart_sizes, :label => false, :selected => 700  %>
    </div>
  </div>

  <div class="row">
    <br>
    <div class="large-6 columns">
    <span data-tooltip class="has-tip" title="Mouse-click or touch date below to show date chooser for Start Date">Start Date</span>
    <input type="text" data-date-format="mm/dd/yyyy" value="<%= 1.month.ago.strftime("%m/%d/%Y") %>" id="startdateinput" name="buildchart[start_date]" readonly>
    </div>
    <div class="large-6 columns">
    <span data-tooltip class="has-tip" title="Mouse-click or touch date below to show date chooser for End Date">End Date</span>
    <input type="text" data-date-format="mm/dd/yyyy" value="<%= 1.second.ago.strftime("%m/%d/%Y") %>" id="enddateinput" name="buildchart[end_date]" readonly>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
    <span data-tooltip class="has-tip" title="Minimum Number of Incidents Required for First Selection. Higher minimum numbers will result in less cluttered charts. This number only limits results for the first option listed in your selections below. Experiment with this value to get desired results.">Minimum Number of Incidents</span>
      <%= f.input :min_count, :label => false, :required => false, :input_html => {:maxlength => 7, :size => 7}%>
    </div>
    <div class="large-6 columns"></div>
  </div>
  <div class="row">
    <div class="large-12 columns">
    <div class="panel">
  Select the fields to include in chart. Fields on the left side are selected, fields on the right are not selected. Clicking or touching a field will toggle its selection status. Selected fields may be ordered via mouse or touch drag/drop. The ordering will determine the heirarchy represented in the reports.
    </div>
    </div>
  </div>

  <div class="row">
  <div class="small-9 small-non-centered large-9 large-centered columns">
    <%= f.select(:db_fields, @avl_fields,{},
                                       { :multiple => true, :size => 5, :class => "multiselect", :id => "dbfieldselect" }
                                     ) %>
  </div>
  </div>

  <div class="row"><br></div>

  <div class="row">
    <div class="large-12 columns">
    <div class="panel">
Select the incident types in the list below to include in the chart. Incident types on the left side will be included in the chart, and those on the right side will be excluded. Clicking or touching a field will move the field from one column to the other. <br><br><b>Field ordering is not important for incident types.</b>
    </div>
    </div>
  </div>


  <div class="row">
  <br>
  <div class="small-9 small-non-centered large-9 large-centered columns">
  <%= f.select(:incident_types, @avl_calltypes,{},
                                     { :multiple => true, :size => 5, :class => "multiselect", :id => "incidenttypeselect" }
                                   ) %>
    </div>
  <div class="large-3 columns"></div>
  </div>


  </div> <!-- outer columns -->
  <div class="large-4 columns hide-for-small">

    <center><h4><span data-tooltip class="has-tip" title="An interactive sunburst chart displays all the charted information at once. You can drill down or zoom in to the information by mouse clicking or touching on an area of interest. Zoom back out by mouse clicking or touching on the center circle.">Sunburst Chart</span></h4></center>
    <%= image_tag "6one3-charts_sunburst_ex.svg", :align => "center"  %>
    <hr>
      <center><h4><span data-tooltip class="has-tip" title="An interactive bar chart only shows the top level data (first selected option), but you can zoom in to data sub elements (second selected option and so forth) for each bar by clicking on it. Zoom out by clicking in the open white area around the bars.">Bar Chart</span></h4></center>
    <%= image_tag "6one3-charts_bar_ex.svg", :align => "center"  %>    
  </div>
  </div> <!-- Outer row -->


 <div class="row">
 <br>
 <br>
    <div class="small-10 small-centered large-10 large-centered columns">
      <br>
      <a data-reveal-id="disclaimerModal" href="#" class="radius button secondary">Disclaimer</a>      
      <a data-reveal-id="termsOfUseModal" href="#" class="radius button secondary">Terms Of Use</a>      
      <%= f.button :submit, "Generate Chart", :class => "medium button success radius" %>      
    </div>
  </div>
<% end %>


