<!--
<script type="text/javascript">
  var log = log4javascript.getDefaultLogger();
</script>
-->


<script type="text/javascript">
$(function () {
      $('#dp3').fdatepicker({
          closeButton: true
        }); 
      $('#dp1').fdatepicker({
          closeButton: true
        }); 

    });
  </script>

  <div class="row">
    <input type="text" class="small 3 columns" value="02-16-2012" id="dp1">
  </div>

  <div class="row date collapse" id="dp3" data-date="02-12-2012" data-date-format="mm-dd-yyyy">
    <input class="small-3 columns date collapse" size="16" type="text" value="02-12-2012" readonly> 
    <span class="prefix small-2 columns end"><i class="icon-calendar"></i></span>
  </div>




