/* 
   I had to cheat and put jquery-ui-theme in even though the jquery-ui-rails gem 
   should have taken care of it. Problem was the gem wasn't working with 
   a rails app running out of a subdir. so the later require overrode
   also required me throwing extra images in vendor/images.
*/


//= require jquery.ui.all
//= require ../../../vendor/assets/stylesheets/jquery.uix.multiselect.css
//= require ../../../vendor/assets/stylesheets/jquery.ui.theme.css
