<!DOCTYPE html>
<html>
<head>
  <title>Dallascharts</title>
  <%= stylesheet_link_tag    "d3_charts", :media => "all"%>
  <%= javascript_include_tag "d3_charts"  %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
