<html>
<head>
<meta name="viewport" content="user-scalable=1.0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
<title><%=@title%></title>
  <%= stylesheet_link_tag    "geo_heat_maps", :media => "all" %>
  <%= javascript_include_tag "geo_heat_maps" %>
  <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      body, html {
        margin:0;
        padding:0;
        font-family:Arial;
      }
      h1 {
        margin-bottom:10px;
      }
      #main {
        position:relative;
      <% if !@map_only %>
        width:800px;
        padding:20px;
      <% else %>
        padding:0px;
      <% end %>

        margin:auto;
      }
      #heatmapArea {
        position:relative;
        float:left;
        width:<%=@map_width%>;
        height:<%=@map_height%>;
        border:1px dashed black;
      }
      #configArea {
        position:relative;
        float:left;
        width:200px;
        padding:15px;
        padding-top:0;
        padding-right:0;
      }
      .btn {
        margin-top:25px;
        padding:10px 20px 10px 20px;
        -moz-border-radius:15px;
        -o-border-radius:15px;
        -webkit-border-radius:15px;
        border-radius:15px;
        border:2px solid black;
        cursor:pointer;
        color:white;
        background-color:black;
      }
      #gen:hover{
        background-color:grey;
        color:black;
      }
      textarea{
        width:260px;
        padding:10px;
        height:200px;
      }
      h2{
        margin-top:0;
      }
    </style>

</head>
<%= yield %>
</html>
