<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title><%=@page_title%></title>
        <%= stylesheet_link_tag    "application", :media => "all"%>
        <%= stylesheet_link_tag    "multiselect", :media => "all"%>
        <%= javascript_include_tag "multiselect"  %>
        <%= csrf_meta_tags %>

        <style type="text/css">
            .multiselect {
                width: 450px;
                height: 200px;
            }
            #locales { padding-bottom:16px; }
            div.debug_uiControls {
                margin-top: 16px;
            }
            div.debug_log {
                height: 100px;
                overflow: auto;
                border: 1px solid black;
                padding: 8px;
                margin-top: 16px;
            }
            .example-container {
                overflow:visible;
                width:100%;
            }

            .uix-multiselect {
            position: relative;
            float: inherit;
            }            
        </style>
    
    </head>
    <body>
        <p id="notice"><%= notice %></p>
        <p id="alert"><%= alert %></p>
        <p id="error"><%= flash[:error] %></p>
        <%= yield %>

    </body>
</html>
