
<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
<meta name="viewport" content="user-scalable=1.0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">

  <title>6One3 Charts</title>

  <%= stylesheet_link_tag    "zerb_chartresults", :media => "all"%>
  <%= javascript_include_tag "zerb_chartresults"  %>

</head>
<body>

  <!-- Header and Nav -->
<style type="text/css">
div#myheader{
  background-color: orange;
}
.button{
  border-color: black;
  background-color: #848484;
  color: white;
}
footer{
  background-color: #848484;
}

img.tnail{
  width: 250px;
  height: 167px;
}
</style>

<style type="text/css">
    .multiselect {
        width: 450px;
        height: 200px;
    }
    #locales { padding-bottom:16px; }
    div.debug_uiControls {
        margin-top: 16px;
    }
    div.debug_log {
        height: 100px;
        overflow: auto;
        border: 1px solid black;
        padding: 8px;
        margin-top: 16px;
    }
    .example-container {
        overflow:visible;
        width:100%;
    }

    .uix-multiselect {
    position: relative;
    float: inherit;
    }            
</style>


<!-- Header Row -->
  <div class="row" id="myheader">
    <div class="small-6 columns small-centered large-3 large-uncentered columns">
      <h1><%= image_tag "6One3Small.png"  %></h1>
    </div>
    <div class="small-9 columns small-centered large-9 large-uncentered columns">
      <ul class="button-group right hide-for-small">
        <li><a href="/index.html" class="button">Main</a></li>
        <li><a href="/services.html" class="button">Services</a></li>
        <li><a href="/aboutus.html" class="button">About Us</a></li>
        <li><a href="/contactus.html" class="button">Contact Us</a></li>
      </ul>
   </div>
  </div>


<nav class="top-bar show-for-small">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><a href="#"></a></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <div class="fixed">
  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li class="divider"></li>
      <li class="active"><a href="/index.html">Main</a></li>
      <li class="divider"></li>
      <li class="active"><a href="/services.html">Services</a></li>
      <li class="divider"></li>
      <li class="active"><a href="/aboutus.html">About Us</a></li>
      <li class="divider"></li>
      <li class="active"><a href="/contactus.html">Contact Us</a></li>
      <li class="divider"></li>
    </ul>
  </section>
  </div>
</nav>

  <!-- First Band (Spacer) -->

  <div class="row">
    <div class="large-12 columns">
      <hr>
    </div>
  </div>


  <div class="row">
    <div class="small-12 large-12 columns">
      <ul class="button-group right hide-for-small">
        <li><a data-reveal-id="disclaimerModal" href="#" class="radius button secondary">Disclaimer</a></li>
        <li><a data-reveal-id="termsOfUseModal" href="#" class="radius button secondary">Terms Of Use</a></li>

      <% if @chart_type == "sunburst" %>
        <li><a data-reveal-id="firstModal" href="<%=ActionController::Base.relative_url_root%>/sbhelp1wrapper.html" data-reveal-ajax="true" class="radius button success">Help</a></li>
      <% else %>
        <li><a data-reveal-id="firstModal" href="<%=ActionController::Base.relative_url_root%>/barhelp1wrapper.html" data-reveal-ajax="true" class="radius button success">Help</a></li>
      <% end %>
      </ul>                        
    </div>
  </div>

  <div class="row">
    <div class="small-12 large-12 columns">
  <% if @chart_title && @chart_title.size > 0 %>
      <div class="panel">
        <center>
          <h5><%= @chart_title %></h5>
        </center>
      </div>
  <% end %>      
    </div>
  </div>


  <!-- Second Band (Image Left with Text) -->

  <div class="row">

    <div class="small-0 large-1 columns">&nbsp</div>
    <div class="small-12 large-10 columns" id="chartcontent">
      <%= yield %>
    </div>
    <div class="small-0 large-1 columns">&nbsp</div>
  </div>


  <div class="row">
    <div class="large-1 columns">
    &nbsp</div>

    <div class="large-10 columns">
        <center>
          <table>
            <thead>
              <tr>
                <th>Query Parameter</th>
                <th>Value</th>
              </tr>
            </thead>          
            <tbody>
              <% @query_parameter_array.each do |parm_sub_ary| %>
                <tr>
                  <td><%= parm_sub_ary[0] %></td>
                  <td><%= parm_sub_ary[1] %></td>
                </tr>              
              <% end %>
            </tbody>
          </table>        
        </center>
    </div>
    <div class="large-1 columns">&nbsp</div>
  </div>

  <div class="row">
    <div class="large-12 columns">
    </div>
  </div>

  <!-- Footer -->
  <footer class="row">
    <hr />
    <div class="small-0 large-3 columns">
    &nbsp  
    </div>
    <div class="small-7 large-6 columns">
      <br>
      <center><p>&copy; Copyright 2013 6One3Engineering LLC</p></center>
    </div>
    <div class="small-5 large-3 columns" style="width: 150px;">
      <a href="https://www.facebook.com/6One3Engineering" class="tiny button">      <center><img src="<%= image_path 'facebook_real_small.png' %>" style="width: 40px; height: 40px; float:top;"></center>
      <center>Check us out on Facebook</center>
    </a>
    </div>
  </footer>
  
  <script>
    $(document).foundation();
  </script>

  <!-- for google analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-42715575-1', '6one3engineering.com');
    ga('send', 'pageview');
  </script>    

  <!-- Put your modals here!!! -->
  <div id="firstModal" class="reveal-modal"></div>
  <div id="secondModal" class="reveal-modal"></div>
  <div id="thirdModal" class="reveal-modal"></div>
  <div id="fourthModal" class="reveal-modal"></div>
  <div id="disclaimerModal" class="reveal-modal" style="z-index: 10000001;">
    <h2>Disclaimer</h2>
        
    <p class="lead">The information and visualizations associated with this data study are for the sole purpose of technology demonstration. While all attempts have been made to ensure data accuracy, software bugs do happen and we will take immediate action to correct them.</p>

    <p class="lead"><b>6One3Engineering, LLC</b> furthermore does not express any political, social, economic, or environmental views with the results of this study and related interactive software. Individuals are responsible for their own conclusions.</p>
  <a id="close8" class="radius button alert" href="#">Close</a>
  <script>
  $(document).ready(function() {
      $("#close8").click(function() {
        $('#disclaimerModal').foundation('reveal', 'close');
      });
    });
  </script>
  </div>  
  <div id="termsOfUseModal" class="reveal-modal" style="z-index: 10000001;">
    <h2>Terms of Use</h2>        
    <p class="lead">Permission must be given by <b>6One3Engineering, LLC</b> prior to reuse or publication of any visualizations provided.</p>
  <a id="close9" class="radius button alert" href="#">Close</a>
  <script>
  $(document).ready(function() {
      $("#close9").click(function() {
        $('#termsOfUseModal').foundation('reveal', 'close');
      });
    });
  </script>
</body>
</html>